
  body{
    margin:0px;
  }
  h1 {
    text-align : center;
     font-size : 50px;
     border-bottom: 1px solid black;
     margin:0;
     padding : 20px;
  }

  a{
    color : orange;
    text-decoration: none;
  }

  ul{
    text-align : left;
    border-right : 1px solid black;
    width:100px;
    margin:0px;
    padding:20px;
    padding-left:35px;
  }
  #grid{
    display:grid;
    grid-template-columns: 150px 1fr;
  }
  #article{
    padding-left:25px;
  }
  @media(max-width:500px)
  {
    #grid{
      display:block;
    }
    ul{
      border-right:none;
    }
  }
